<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="assets/images/prof1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Professor Eduardo</h5>
        <p class="card-text">
          Excelente professor com uma didática muito boa, professor formado em ciências da computação,
          ele dá aulas de banco de dados para os alunos.
        </p>
        <p class="card-text">
          <small class="text-muted">Atualizado a 3 min atrás</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/prof2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Professor Gilberto</h5>
        <p class="card-text">
          Gilberto formado em sistemas da informação, dá aulas de Desenvolvimento WEB e outros cursos.
        </p>
        <p class="card-text">
          <small class="text-muted">Atualizado a 3 min atrás</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/prof3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Professor Matheus</h5>
        <p class="card-text">
          Professor Matheus é formado em Analise e Desenvolvimento de Softwares, ele dá aulas de Desenvolvimento Mobile e outros cursos da nossa escola.
        </p>
        <p class="card-text">
          <small class="text-muted">Atualizado a 3 min atrás</small>
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small dark indigo">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
